@model IEnumerable<MvcCreditApp.Models.Bid>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="results">
    <h4> All loan applicants "@Model.First().CreditHead"</h4>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name</li>
        }
    </ul>
</div>