@model WebMVCR1.Models.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InputData</title>
</head>
<body>

    <h4>Person</h4>
    <div>
        <form method="post">
            <table>
                <tr>
                    <td><p>Enter your name:</p></td>
                    <td><input type="text" name="FirstName" /> </td>
                </tr>
                <tr>
                    <td><p>Enter last name:</p></td>
                    <td><input type="text" name="LastName" /> </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
    <p>@Html.ActionLink("Look who's already here", "OutputData") </p>
</body>
</html>
